revealer {
  background-color: rgba(0, 0, 0, 0.4);
}

headerbar {
  min-height: 24px;
  padding: 0;
  margin: 0;
  color: transparent;
  background-color: transparent;
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
  color: transparent;
  background-color: transparent;
  font-family: monospace;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #9ca3af;
  background-color: transparent;
  border-right: 0px solid #374151;
}

tabbar tabbox tab:selected {
  background-color: transparent;
  color: #ffffff;
}

tabbar tabbox tab label {
  background-color: transparent;
  font-size: 10px;
}
