revealer {
  background-color: transparent;
}

headerbar {
  min-height: 16px;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.6);
}

tabbar {
  margin: 0;
  padding: 0;
  min-height: 10px;
  background-color: rgba(0,0,0,0.6);
  font-family: monospace;
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  min-height: 10px;
  color: #9ca3af;
}

tabbar tabbox tab:selected {
  color: #ffffff;
  background-color: transparent;
}

tabbar tabbox tab label {
  font-size: 12px;
}
