revealer {
  background-color: transparent;
}

headerbar {
  min-height: 24px;
  padding: 0;
  margin: 0;
  color: transparent;
  background-color: rgba(0,0,0, 0.6);
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
  color: rgba(0,0,0, 0.6);
  background-color: transparent;
  font-family: monospace;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #9ca3af;
  background-color: rgba(0,0,0, 0.6);
  border-right: 0px solid #374151;
}

tabbar tabbox tab:selected {
  background-color: rgba(0,0,0, 0.6);
  color: #ffffff;
}

tabbar tabbox tab label {
  background-color: rgba(0,0,0, 0.6);
  font-size: 10px;
}
